<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCeJIKoHece8q06eDFAruSyyhFvhG54_fQ</string>
	<key>GCM_SENDER_ID</key>
	<string>629948825924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dookanti</string>
	<key>PROJECT_ID</key>
	<string>dookanti-a7a10</string>
	<key>STORAGE_BUCKET</key>
	<string>dookanti-a7a10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629948825924:ios:91962eca88c1a217cd9711</string>
</dict>
</plist>